.next/
build/
dist/
out/
node_modules/
.vscode/
generated/
storybook-static/

package.json
*.scss

apps/api/**/data/*.json

apps/genkai-landing/src/features/**/data/*.json

packages/vx-viewer/**/data/*
packages/blockchain-config/**/abi-wagmi/*
*/**/typechain/*